<h1 class="animated fadeIn fast">Sobre ComicApp</h1>
<hr>
<p class="animated fadeIn">
  ComicApp es un mini diccionario acerca de los súper héroes de las clásicas historietas de Marvel y DC. En ella puedes encontrar información de los personajes mas conocidos como: Spider man, wolverine, Batman etc. Podrás conocer acerca de su fecha de lanzamiento, súper poder, historia del personaje y cómic al que pertenece. También puedes buscar a un personaje especifico por medio de nuestro motor de busqueda especializada sin necesidad de tener que buscar uno por uno. Diviértete aprendiendo sobre los personajes de tu infancia!
</p>
